﻿
<div class="card shadow border-0 my-5 m-5 pb-5">
    <div class="card-header bg-success  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa Lists</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="VillaNumber" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Assign new numbers for Villa
                </a>
            </div>
        </div>

        <table id="villaNumberTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Villa number</th>
                    <th>Villa name</th>
                    <th>Descriptions</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

    </div>
</div>


@section Scripts{
    <script src="~/js/villaNumber1.js"></script>
}